/*
 *直播整合V1.0 CSS文件
 * author:松鼠
 */
body {
	background: #F6F6F6;
}

.am-container {
	max-width: 1200px;
}
/*鼠标移入弹出层*/
.cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.cover-lay {
	z-index: 6;
	transition: all ease-out .3s;
	background: #000000;
}

.cover-lay:hover {
	opacity: 0.6;
}
/*播放的图标*/
.cover-icon {
	z-index: 6;
	transition: all ease-out .3s;
	background: url(https://i.h2.pdim.gs/0d8f712969a5a4650b2c034b39ea3a03.png) 50% 50% no-repeat;
}

.cover-icon:hover {
	opacity: 1;
	transform: scale(1.2);
}

a:hover {
	text-decoration: none;
}

.pic {
	width: 100%;
	height: 100%;
}

.live-img {
	position: relative;
}
/*直播标题*/
.live-img p {
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 1.4rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0;
	color: #FFFFFF;
	background-image: -webkit-linear-gradient(top,transparent,rgba(0,0,0,.8) 22px);
}
/*直播平台*/
.plat {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 11;
	font-size: 1.3rem;
}
/*主播信息*/
.live-info {
	height: 38px;
	position: relative;
	background: #FFFFFF;
	transition: all .3s;
}

.live-info:hover {
	box-shadow: 2px 2px 2px #ddd;
}

.name {
	position: absolute;
	width: 50%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 1.4rem;
}

.live-info span {
	color: #000000;
	line-height: 38px;
}

.live-info span:hover {
	color: #FF5722;
}
/*平台的图标*/
.userpic {
	width: 30px;
	height: 30px;
	float: left;
	transition: all 1s;
	margin-top: 1%;
}

.userpic:hover {
	transform: rotate(360deg);
}
/*搜索弹出的结果框*/
.res-ul {
	width: 100%;
	position: absolute;
	top: 33px;
	left: 0px;
	box-shadow: 0px 2px 2px #DDD;
	z-index: 20;
}

.list-group-item {
	padding: 0;
}

.res-ul li {
	height: 40px;
	line-height: 40px;
	display: block;
	text-shadow: 0 1px 0 #DDD;
	overflow: hidden;
}

.res-ul li img {
	margin-top: 6px;
}

.res-ul li a {
	color: #000000;
}

.res-ul li a:hover {
	color: #FF5722;
}
